body{
  text-align: center;
}

#container{
  display: flex;
  background-color: rgb(77, 77, 77);
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: 3rem auto;
  align-items: center;
  justify-content: center;
}
.square{
  background-color: rgb(241, 241, 210);
  
}